<script>
import { GlButton, GlFormInput, GlFormTextarea, GlCollapsibleListbox } from "@gitlab/ui";
import {defaultPersistedSettings, defaultSessionSettings } from '../utils/commonUtils'
import {getSettings, getModels} from '../utils/commonUtils';

export default {
  name: 'App',
  components: { GlButton, GlFormInput, GlFormTextarea, GlCollapsibleListbox },
  data() {
    return {
      persisted: defaultPersistedSettings(),
      session: defaultSessionSettings(),
      extensionId: chrome.runtime.id,
      models: [],
      isLoading: true,
    }
  },
  async mounted() {
    const settings = await getSettings(this.extensionId);
    console.log('popup: mount settings', settings)
    this.mountSettings(settings);

    this.models = getModels();
  },
  methods: {
    mountSettings(settings) {
      this.persisted = defaultPersistedSettings(settings.persisted);
      this.session = defaultSessionSettings(settings.session);
      this.isLoading = false;
    },
    saveSettings() {
      chrome.storage.session.set({ 'session_settings': this.session });
      chrome.storage.local.set({'persisted_settings': this.persisted});
      chrome.runtime.sendMessage(this.extensionId, {type: 'reload_settings'}, null, () => {
        window.close()
      });
    },
    filterModels(searchTerm) {
      this.models = getModels(searchTerm);
    },
  }
}
</script>

<style>
html {
  width: 400px;
  height: 640px;
}
</style>

<template>
  <div class="gl-flex-grow-1" v-if="!isLoading">
    <link rel="stylesheet" media="all" href="css/utility_classes.css" />
    <link rel="stylesheet" media="all" href="css/index.css" />
    <h3 class="gl-md gl-ml-2 gl-mt-2">Session settings</h3>
    <hr class="gl-ml-4 gl-mr-4" />
    <div class="gl-display-flex gl-mt-2 gl-ml-4">
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1 gl-mr-2">OpenAI API Key:</div>
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1">
        <GlFormInput v-model="session.key" type="password" placeholder="OpenAI Key" size="xl" />
      </div>
    </div>
    <h3 class="gl-md gl-ml-2">Persisted settings</h3>
    <hr class="gl-ml-4 gl-mr-4" />
    <div class="gl-display-flex gl-mt-2 gl-ml-4">
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1 gl-mr-2">OpenAI Model:</div>
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1">
        <gl-collapsible-listbox
          searchable
          :items="models"
          v-model="persisted.model"
          @search="filterModels"
          header-text="Select Model"
          no-results-text="Not found"
        />
      </div>
    </div>

    <div class="gl-display-flex gl-mt-2 gl-ml-4">
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1 gl-mr-2">Max Tokens:</div>
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1">
        <GlFormInput
          id="config-maxTokens"
          v-model="persisted.max_tokens"
          size="sm"
          :placeholder="persisted.max_tokens"
      />
      </div>
    </div>

    <div class="gl-display-flex gl-mt-2 gl-ml-4">
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1 gl-mr-2">Temperature:</div>
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1">
        <GlFormInput
          v-model="persisted.temperature"
          size="sm"
          :placeholder="persisted.temperature"
      />
      </div>
    </div>

    <div class="gl-display-flex gl-mt-2 gl-ml-4">
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1 gl-mr-2">Top P:</div>
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1">
        <GlFormInput
          id="config-top_p"
          v-model="persisted.top_p"
          size="sm"
          :placeholder="persisted.top_p"
      />
      </div>
    </div>
    
    <div class="gl-display-flex gl-mt-2 gl-ml-4">
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1 gl-mr-2">Additional Configuration:</div>
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1">
        <gl-form-textarea
          id="config-textarea"
          v-model="persisted.extra_config"
          size="sm"
          :placeholder="persisted.extra_config"
      />
      </div>
    </div>

    <div class="gl-display-flex gl-mt-2 gl-ml-4">
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1 gl-mr-2">Show AI Assist Button:</div>
      <div class="gl-mr-4 gl-w-half gl-flex-grow-1">
        <input class="gl-mt-2" type="checkbox" v-model="persisted.show_assist_button" size="xl" />
      </div>
    </div>
    <div class="gl-display-flex gl-mt-2">
      <div class="gl-ml-4">
        <GlButton class="gl-align-right" :block="true" category="primary" variant="confirm" @click="saveSettings">Save
        </GlButton>
      </div>
  </div>
</div></template>