<script>
import { getPageValue } from '../utils/pageUtils';
import { loadBlobInfo } from '../utils/blobLoader';
import PromptWindow from '@/components/PromptWindow.vue';

export default {
  name: 'App',
  components: { PromptWindow },
  data() {
    return {
      pageId: '',
      promptText:
        '[[code]]\n"""\nHere is what the above code is doing, explained in a concise way:\n1.',
      infoObject: {},
      settings: {},
      isLoaded: false,
      extensionId: chrome?.runtime?.id
    };
  },
  mounted() {
    // https://gitlab.com/gitlab-org/gitlab/-/raw/master/app/experiments/in_product_guidance_environments_webide_experiment.rb
    // https://gitlab.com/gitlab-org/gitlab/-/blob/master/app/experiments/in_product_guidance_environments_webide_experiment.rb

    let cb = this.mountSettings.bind(this);

    chrome.runtime.sendMessage(this.extensionId, { type: 'get_settings' }, cb);

    chrome.tabs.query({ active: true, currentWindow: true }, (tabs) => {
      if (tabs.length > 0) {
        this.checkPage(tabs[0].url);
      }
    });

    chrome.devtools.network.onNavigated.addListener((url) => {
      this.debugVal = url;
      this.infoObject = {};

      this.checkPage(url);
    });
  },
  methods: {
    mountSettings(response) {
      console.log('received user data %o', response);
      this.settings = { ...response.persisted, ...response.session} || {};
      this.openAiKey = this.settings?.key;
      this.isLoaded = true;
    },
    async checkPage(url) {
      this.debugVal = 'Checking Page';

      this.pageId = await getPageValue(
        chrome.devtools.inspectedWindow,
        "$$('body')[0].dataset.page"
      );
      
      this.infoObject.pageId = this.pageId;

      // Mapping by pageId to different retrieving utils
      if (this.pageId === 'projects:blob:show') {
        console.log('show...');
        this.infoObject = await loadBlobInfo(url, chrome.devtools.inspectedWindow);
      }

    },
  },
};
</script>

<template>
  <div>
    <link rel="stylesheet" media="all" href="css/utility_classes.css" />
    <link rel="stylesheet" media="all" href="css/index.css" />
    <div v-if="isLoaded">
      <PromptWindow :extension-id="extensionId" v-bind:infoObject="infoObject" v-bind:settings="settings"></PromptWindow>
    </div>
  </div>
</template>
