<script>
export default {
  name: 'HelloWorld',
  mounted() {
    browser.runtime.sendMessage({});
  },
  computed: {
    defaultText() {
      return browser.i18n.getMessage('extName');
    },
  },
};
</script>
<template>
  <div>
    <p>HELLO WORLD {{ defaultText }}</p>
  </div>
</template>
