<template>
  <div>
    <p>HELLO WORLD {{ defaultText }}</p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  mounted() {
    browser.runtime.sendMessage({});
  },
  computed: {
    defaultText() {
      return chrome.i18n.getMessage('extName');
    },
  },
};
</script>

<style scoped>
p {
  font-size: 20px;
}
</style>
