<script>
import axios from 'axios';
import { GlDropdown, GlDropdownItem, GlButton } from '@gitlab/ui';

const pathToPromptRepo = 'https://gitlab.com/gitlab-org/dev-subdepartment/ai-dev-promptcollection';

export default {
  name: 'PromptSelector',
  components: { GlButton, GlDropdown, GlDropdownItem },
  data() {
    return {
      currentFolder: '',
      folders: [],
      currentFile: '',
      files: [],
    };
  },
  async mounted() {
    const { data } = await axios.get(`${pathToPromptRepo}/-/refs/main/logs_tree/`, {
      params: { format: 'json', offset: 0, cb: Math.random() },
    });
    this.folders = [];
    data.forEach((item) => {
      if (item.file_name.indexOf('.') === -1) {
        this.folders.push(item.file_name);
      }
    });
  },
  methods: {
    async selectFolder(selectedFolder) {
      this.currentFolder = selectedFolder;

      const { data } = await axios.get(
        `${pathToPromptRepo}/-/refs/main/logs_tree/${this.currentFolder}`,
        {
          params: { format: 'json', offset: 0, cb: Math.random() },
        }
      );
      this.files = [];
      data.forEach((item) => {
        if (item.file_name.indexOf('.prompt') > -1) {
          this.files.push(item.file_name);
        }
      });
    },
    selectFile(selectedFile) {
      this.currentFile = selectedFile;
    },
    async loadPrompt() {
      const { data } = await axios.get(
        `${pathToPromptRepo}/-/raw/main/${this.currentFolder}/${this.currentFile}`
      );
      this.$emit('promptLoaded', data);
    },
  },
};
</script>
<template>
  <div>
    <GlDropdown :text="currentFolder || 'Folder'" class="gl-mr-3">
      <GlDropdownItem v-for="folder in folders" :key="folder" @click="selectFolder(folder)">{{
        folder
      }}</GlDropdownItem>
    </GlDropdown>
    <GlDropdown :text="currentFile || 'File'" :disabled="!currentFolder" class="gl-mr-3">
      <GlDropdownItem v-for="file in files" :key="file" @click="selectFile(file)">{{
        file
      }}</GlDropdownItem>
    </GlDropdown>
    <GlButton @click="loadPrompt" :disable="!currentFile">Load</GlButton>
  </div>
</template>
