<script>
import { GlButton, GlModal } from '@gitlab/ui';
import { ParseDiff } from '../lib/diff.js';
// import Api from '@/lib/api';

export default {
  name: 'App',
  components: { GlButton, GlModal },
  data() {
    return {
      pageId: '',
      settings: {},
      isLoaded: false,
      fileName: '',
      diff: '',
      showModal: false,
      loadedResponse: false,
      prompting: false,
      diffResponse: '...', // ex: This diff shows changes made to backOnePage() in the file src/backup.c. On line 254, the variable iOff was changed from an i64 to an i32 data type. There was also some other minor changes including the removal of the backupTruncateFile() function.',
      extensionId: '',
    };
  },
  mounted() {
    const body = document.getElementsByTagName('body');
    if (!body[0]) {
      console.error('failed to find body element dataset');
      return;
    }
  
    this.extensionId = document.getElementsByTagName('body')[0]?.getAttribute('gl-extension-id');
    this.fileName = this.$el.parentElement?.getAttribute('data-qa-file-name');

    console.log('creating MRDiff button, got fileName: %o', this.fileName);

    chrome.runtime.sendMessage(this.extensionId, { type: 'get_settings' }, this.mountSettings.bind(this));
    chrome.runtime.sendMessage(this.extensionId, { type: 'request', url: window.location.origin+window.location.pathname+".patch"}, this.processDiff.bind(this));
  },
  methods: {
    mountSettings(response) {
      console.log('received user data %o', response.settings);
      this.settings = response.settings || {};
      this.isLoaded = true;
    },
    processDiff(response) {
      this.diff = ParseDiff(response.response, this.fileName);
    },
    explainResponse() {
      this.prompting = true;

      const prompt = 'Explain the following diff: ' + this.diff;
      console.log('sending prompt request...');
      const self = this;
      chrome.runtime.sendMessage(this.extensionId, {type: 'prompt_request', 'prompt': prompt}, function(resp) {
        console.log('got prompt response: %o', resp);
        const { response } = resp;

        if (response.error) {
          self.diffResponse = 'error occurred: ' + (response.error.message || response.error);
        } else {
          self.diffResponse = resp?.response?.choices[0].text || "Unknown response";
        }
        self.loadedResponse = true;
      });
    }
  }
};
</script>

<template>
  <div>
    <gl-button @click="showModal = !showModal" variant="confirm">Explain</gl-button>
    <GlModal
      title="Explain the changes in this diff"
      modalId = 'test'
      :actionPrimary='{"text":"Cancel"}'
      :visible="showModal"
      :noFocusOnShow="false"
      :scrollable="true"
      no-fade=""
    >
    <div>
      <div v-if="diff">
        <pre>
          <code>
          {{ this.diff }}
          </code>     
        </pre>
        <gl-button @click="explainResponse" :disabled="prompting">Explain Changes</gl-button>
        <div v-if="prompting && !loadedResponse">
          Querying...
        </div>
        <pre class="gl-mt-2"><code>{{ this.diffResponse }}</code></pre>
        
      </div>
    </div>
    </GlModal>
</div>
</template>
